@import url('./menu/aside_menu.css');
@import url('./menu/header_with_menu.css');
@import url('./consultas/consultas.css');
@import url('./rodape/footer.css');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.oculta-display {
    display: none;
}
.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 80vh;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(81deg, #1C2D38 43.16%, rgba(27, 44, 55, 0.49) 100%),
         url('../resources/capa.svg');
    background-size: cover;
    background-position: center;
    
}

.main-section section {
    width: 600px;
    height: 100%;
    margin-right: 500px;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.main-section section p {
    color: var(--ffffff, #FFF);
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-section section h1 {
    color: var(--ffffff, #FFF);
    font-family: Inter, sans-serif;
    font-size: 51px;
    font-style: normal;
    font-weight: 700;
    line-height: 110.023%;
}

.main-section div{
    color: var(--ffffff, #FFF);
    font-family: 'Inter', sans-serif;
    border: 0px;
    font-size: 14.897px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: var(--008181, #008181);
    display: flex;
    padding: 15px 21px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    cursor: pointer;
    width: 240px;
}

.main-section div a {
    text-decoration: none;
    color: #FFF;
}

