.consultas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    padding: 100px;
    @media (max-width: 900px) {
        flex-direction: column;
        padding: 10px;
    }
}
.consultas section {
    font-family: Inter,sans-serif;
    width: 60%;
    font-size: 18px;
}

